body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
h1{
  width: 10;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 70px;
  color: #66BFBF
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
  color: #66BFBF
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E
}
.adobe{
  font-family: 'Sacramento', cursive;
  font-weight: normal;
  padding-bottom: 10px;
  color: #66BFBF
}
.top-cloud{
  position: absolute;
  right: 300px;
  top:40px;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;

}
div{
  background-color: #D6E5FA;
}
p{
  line-height: 2;
}
.top-container{
  background-color: #D6E5FA;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  padding: 50px 0 20px;
}
.bottom-container{
   background-color:#66BFBF;
   padding: 50px 0 20px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
 }
 .skill{
   margin-right: 30px;
   float: left;
   width: 25%
 }
 .skill2{

   float: right;
   margin-left: 30px;
   width: 25%
}
.pro{
  width: 130px;
  height: 130px;
}
.intro{
  width: 30%;
  margin: auto;
}
.contact-me{
  width: 40%;
  margin: 40px auto 60px;
  padding: 20px 0;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover{
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
